.shadow {
  box-shadow: 2px 3px 5px #CCCCCC;
  border: 5px solid white;
  border-radius: 5px;
  width: 200px;
}

nav {
  float: right;
  padding: 30px;
}

.breadcrumb-item{
 padding-top: 70px;
 padding-right: 8px;
}


a {
  color:white;
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 75px;
  text-decoration: none;
}

header {
  height: 90px;
  width: 100%;
  background-color: black;    
}

body {
  margin: 0;
  padding;0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

div {
  text-align: center;
  width: 100%;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #1A1A1A;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  color: #333333;
}
    
footer {
  align-self: flex-end;
  background-color: #f2f2f2;
  font-family: 'Dosis', sans-serif;
  line-height: 3;
  text-align: center;
  width: 100%;
}

.logotipo{
  padding: 10px 30px 10px;
  height: 70px;
  width: 70px;
}

