img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.shadow {
  box-shadow: 5px 5px 5px #CCCCCC;
  border: 5px solid blue;
  border-radius: 5px;
}

li {
  float: left;
  list-style: none;
  padding: 10px;   
}

nav {
  float: right;
}

a {
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  color:darkblue;
}

li:hover a{
  color: black;
}

header {
  width: 100%;
  background-color: #f2f2f2;    
}

body {
  margin: 0;
  padding;0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

div {
  text-align: center;
  width: 100%;
}

h1 {
  color: #F5A623;
}

h2 {
  font-size: 14px;
  color: #3127B0;
}
    
footer {
  align-self: flex-end;
  background-color: rgba(120,120,120,.5);
  line-height: 3;
  text-align: center;
  width: 100%;
}

.shadow
